@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Sofia+Sans+Semi+Condensed:wght@400;700&display=swap');

body {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    margin: 0px;
    background: radial-gradient(circle, #719dd7 40%, transparent 41%), radial-gradient(circle at bottom left, #719dd7 20%, transparent 21%), radial-gradient(circle at bottom right, #719dd7 20%, transparent 21%), radial-gradient(circle at top left, #719dd7 20%, transparent 21%), radial-gradient(circle at top right, #719dd7 20%, transparent 21%);
    background-size: 3em 3em;
    background-color: #6f9bd5;
    opacity: 1
}

.pop-up-window {
    width: 100vw;
    height: 100vh;
}

.title {
    display: flex;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    color: white;
    padding: 10px;
}

.instruction-box {
    display: flex;
    flex-direction: column;
    text-align: justify;
    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.instruction-box p {
    margin: 10px;
    line-height: 30px;
    max-width: 500px;
    padding: 10px;
}

.instruction-box h2 {
    text-align: center;
    font-size: 20px;
}

.instruction-box h1 {
    text-align: center;
    margin: 5px;
}

.game-rules {
    border-color: rgba(255, 255, 255, 0.22);
    background-color: #ffffff20;
    border-width: 1px;
    border-style: double;
    padding: 10px;
    border-radius: 10px;
    margin-block: 20px;
    filter: drop-shadow(0px 10px 13px rgba(33, 54, 104, 0.41));
}

.username {
    width: 80vw;
    max-width: 350px;
    font-size: 30px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    text-align: center;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.play-button {
    margin-block: 20px;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 15px;

}

.play-button:hover {
    background-color: #85b646;
    border: none;
    color: white;
    font-size: 20px;
    filter: drop-shadow(0px 10px 13px #21366869);
}

@media screen and (max-width: 1000px) {
    .ranking-box {
        display: none !important;
    }
}

.ranking-box {
    position: absolute;
    left: 0px;
    background-color: rgb(243, 243, 243);
    color: #6895cf;
    padding: 20px 20px 20px 10px;
    border-radius: 0px 20px 20px 0px;
}

.ranking-title {
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}

.ranking-names {
    text-align: justify;
}

.game-box {
    display: none;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.counter-box {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Fredoka One', cursive;
}

.counter {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: 1%;
    padding: 10px 10px 5px 10px;
    border-radius: 20px 20px 0px 0px;
    color: white;
    background-color: #ffffffb8;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.counter p {
    font-size: 30px;
    margin: 0px;
}

.right-answers-counter {
    color: white;
    background-color: #81a063;

}

.failed-answers-counter {
    color: white;
    background-color: #b75d5d;
}

.letters-container {
    border-right: 0px;
    border-left: 0px;
    background-color: #ffffff6f;
    padding: 40px 0px 50px 0px;
    box-shadow: 0px 0px 19px 10px #1836822b;


}

.letters-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 10% 0px 10%;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.letter {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #6895cf;
    border: solid 2px white;
    border-radius: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka One', cursive;
    font-size: 1.5rem;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.145);

}

.ask-box {
    display: flex;
    flex-direction: column;
    padding: 50px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    width: 50vw;
    min-width: 450px;
}

.cuestion-container {
    text-align: center;
    font-size: 20px;
    background-color: #ffffffa6;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 0px 20px 0px;
    margin: 0;
    width: 100%;
}

.question {
    padding: 0px 30px 0px 30px;
}

.answers-row {
    background-color: #ffffff6f;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
    align-items: center;
    justify-content: left;
    width: 100%;
    gap: 10px;
}

.user-answer {
    width: 90%;
    font-size: 30px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    text-align: center;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.user-answer:focus {
    color: #6f9bd5;
    outline: none;
}

.answers-button-row {
    display: flex;
    width: 90%;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.answer-button {
    height: 50px;
    width: 100%;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;

}

.answer-button:hover {
    background-color: #e4e2df;
    color: black;
    font-size: 22px;
}

.result-box {
    display: none;
    flex-direction: column;
    padding: 30px 20px 30px 20px;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-inline: auto;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    color: white;
    border-color: rgba(255, 255, 255, 0.22);
    background-color: #ffffff20;
    border-width: 1px;
    border-style: double;
}

.result-title {
    color: #ffffff;
    margin-block: 0;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.224); 
}

.result-row {
    max-width: 30vw;
}

.result-text {
    padding: 5%;
    font-size: 20px;
}

.play-again-button {
    border-radius: 10px;
    height: 50px;
    width: 200px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.play-again-button:hover {
    background-color: #85b646;
    border: none;
    color: white;
    font-size: 20px;
    filter: drop-shadow(0px 10px 13px #21366869);
}

.user-box{
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    padding: 10px;
    border-radius: 0 0 20px 0;
    border-right: 0px;
    border-left: 0px;
    background-color: #ffffff6f;
    box-shadow: 0px 0px 19px 10px #1836822b;
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.224);
}

.wrong-answer-box {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    transition: all 0.3s ease;
}

.user-box p{
    margin: 0;
}

.switch-audio-player-status{
    cursor: pointer;
}

.music-box{
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 10px;
    border-radius: 0 0 0 20px;
    border-right: 0px;
    border-left: 0px;
    background-color: #ffffff6f;
    box-shadow: 0px 0px 19px 10px #1836822b;
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.224); 

}

.music-box p{
    margin: 0;
}

.fade-in-up {
    -webkit-animation-name: fade-in-up;
    animation-name: fade-in-up;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fade-in-up {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

 @-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }

  .blink-2{-webkit-animation:blink-2 .9s infinite both;animation:blink-2 .9s infinite both}
  @-webkit-keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}@keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}